@{
    ViewBag.Title = @Resources.Resource.Contact;
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>@Resources.Resource.Developer:</strong>   <a href="https://vk.com/paukon" target="_blank">@Resources.Resource.Developerx</a><br />
    <strong>@Resources.Resource.Developer:</strong> <a href="https://vk.com/avanturial" target="_blank">@Resources.Resource.Developery</a>
</address>