@using Exernet.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Exernet.Models.ApplicationUser>

@foreach (var user in Model)
{
    <div class="item col-md-12" id="user_@user.UserName">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-2">
                    @if (user.ProfileFotoURL != null)
                    {<img class="img-circle img-responsive" src="@user.ProfileFotoURL" />}
                    else
                    {<img class="img-circle img-responsive" src="http://res.cloudinary.com/goodcloud/image/upload/v1407491904/Exernet/blue-user-icon.png" />}
                </div>
                <div class="col-md-10">
                    <div class="col-md-7">
                        <h4>@Html.ActionLink(user.UserName, "Details", "User", routeValues: new { id = user.UserName }, htmlAttributes: new { title = String.Format(@Resources.Resource.AccountPg + " \"{0}\"", user.UserName) })</h4>
                        <span class="glyphicon glyphicon-star"></span> @user.Rating
                        <div id="@user.UserName">
                            @{ Html.RenderPartial("~/Views/User/ChangeRole/_UserRole.cshtml", user); }
                        </div>
                        @if (user.LockoutEnabled)
                        {
                            <p>@Resources.Resource.UserBlocked @user.LockoutEndDateUtc</p>
                        }
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        @if (User.IsInRole("Administrator"))
                        {
                            if (!User.Identity.GetUserName().Equals(user.UserName))
                            {
                                @Ajax.ActionLink("Change role", "ChangeRole", "User", new { userId = user.Id }, new AjaxOptions { UpdateTargetId = user.UserName }, new { @class = "btn btn-danger"})
                            }
                        }
                    </div>
                    <div class="col-md-3" id="block_@user.UserName">
                        @{ Html.RenderPartial("~/Views/User/_ChangeBlock.cshtml", user); }
                        </div>
                        <div class="col-md-3">
                            @if(User.IsInRole("Administrator") && !user.UserName.Equals(User.Identity.Name))
                        {
                                <button type="button" class="close" onclick="deleting('@user.UserName')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
                        }
                        </div>
                    </div>
            </div>
        </div>
    </div>
}

<script src="Scripts/exernet-deleting.js"></script>