@model Exernet.Models.Comment
<div class="media" id="comment_@Model.Id">
    <a class="pull-left" href="#">
        <img class="media-object pic img-circle" style="width: 50px" src="@Model.User.ProfileFotoURL" alt="">
    </a>
    @if (User.IsInRole("Administrator"))
    {
        <button type="button" class="close delete" onclick="deletingComment('@Model.Id')" data-toggle="tooltip" data-placement="top" title="Delete"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
    }
    <div class="media-body">
        <h4 class="media-heading">
            @Html.ActionLink(Model.User.UserName, "Details", "User", routeValues: new { id = Model.User.UserName }, htmlAttributes: new { title = String.Format("{0} account page", Model.User.UserName) })
            <span class="glyphicon glyphicon-star"></span> @Model.User.Rating
            <small>@Model.Date</small>
        </h4>
        <div class="row well">
            <div class="col-md-12" style="word-break:break-all">
                <p>@Html.Raw(Model.Text)</p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/exernet-deleting.js"></script>
